.hidden {
  display: none;
}
body {
  .imgFile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9;
    opacity: .8;
  }
  .clock-section {
    font-size: 100px;
    color: #000000;
    justify-content: center;
    text-align: center;
  }
  #login-form {
    justify-content: center;
    text-align: center;
    input {
      color: #333333;
      background: transparent;
      border: none;
      border-bottom: 1px solid #000;
      height: 30px;
    }
  }
  .todo-section {
    margin-top: 150px;
    justify-self: center;
    text-align: center;
    #todo-form {
      input {
        width: 300px;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #000;
      }
    }
  }
  .quote-section { 
    margin-top: 100px;
    justify-self: center;
    text-align: center;
    #quote {
      font-size: 20px;
    }
  }
}